body {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Helvetica" , "Lucida Grande" , sans-serif;
    color:rgb(8, 21, 29);
}

.titulo {
    padding: 10px;
    font-size: 32px;
    background-color: rgb(98, 116, 218);

}

.subtitulo{
border-bottom: 2px solid black;

}


figure{
    margin: 30px;
    padding: 15px;
    text-align: center;
    background-color: rgb(78, 62, 62);
    border: 1px solid lightgray;
}

figcaption{
    margin-top: 10px;
}

figure img { 
width: 100%;
}

.matriz-docesescandalos{

width: 550px;
margin-left: auto;
margin-right: auto;
}

.matriz-docesescandalos{

    width: 300px;
    float: right;
}

.criadores{

    width: 271px;
    float: right;
}

figure img{

    width: 100%;
}

.logo{

width: 100px;
float: left;
}

.contato__subtitulo {
display: inline;
}

.contato_secao{
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
}

.contato__secao--telefone{
    margin-left: 32px;
}
 
.contato__info {
    margin: 16px 0 24px;
padding-left: 32px;
}
 
.contato__info-titulo,
.contato__info-descricao {
display: inline;
}
 
.contato__info-descricao{
    margin-left: 10px;
}
 